#ACTION!="add|change", GOTO="xorg_xkb_end"
SUBSYSTEM!="input", GOTO="xorg_xkb_end"
KERNEL!="event*", GOTO="xorg_xkb_end"
ATTR{idVendor}=="1bcf", GOTO="my_media_automount_end"
ATTR{idProduct}=="2883", GOTO="my_media_automount_end"

#added by me
ACTION=="add", ENV{ID_INPUT_KEYBOARD}=="1", RUN+="/usr/local/bin/usb_keyboard_udev.sh"

# import keyboard layout from /etc/default/keyboard
ENV{ID_INPUT_KEY}=="?*", IMPORT{file}="/etc/default/keyboard"

LABEL="xorg_xkb_end"
ACTION=="remove", ENV{ID_MODEL}=="HID Keyboard", RUN+="/usr/local/bin/usb_device_removed.sh" 




