# start at sdb to ignore the system hard drive
KERNEL!="sd[b-z]*", GOTO="my_media_automount_end"

#ACTION=="add" this is when a device is inserted
#ATTR{partition}=="*" without this script runs several times 
#ATTRS{idVendor}=="****", ATTRS{idProduct}=="****" any Vendor and any Product
#RUN+="/usr/local/bin/usb_flash_udev.sh" script to run 
ACTION=="add", ATTR{partition}=="*", ATTRS{idVendor}=="****", ATTRS{idProduct}=="****", RUN+="/usr/local/bin/usb_flash_udev.sh"
#
#ACTION=="remove" this is when a device is removed
ACTION=="remove", ATTR{partition}=="*", RUN+="/usr/local/bin/usb_flash_remove.sh"
#
#go here first if sda if anything else sdb-z run script 
LABEL="my_media_automount_end"
